@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
.hamburger input {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 35px;
  height: 30px;
}

.hamburger input:not(:checked) ~ ul {
  visibility: hidden;
}

.hamburger .hamburger-menu {
  position: absolute;
  right: 5%;
  z-index: 3;
  background-color: #b58c69;
  padding: 4% 7% 2% 7%;
}

.hamburger .hamburger-menu li {
  list-style: none;
  padding-bottom: 20%;
}

.hamburger .hamburger-menu li a {
  text-decoration: none;
  color: #fcf9f9;
  font-weight: 600;
}

.hamburger .hamburger-menu li a:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #f08888;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fcf9f9;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

body {
  margin: 0;
  background-color: #fcf9f9;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #b58c69;
  height: 70px;
  margin-top: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar .navbar-logo .logo {
  width: 80px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.navbar .navbar-logo .logo:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.navbar .navbar-ul ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 2%;
}

.navbar .navbar-ul ul li a {
  text-decoration: none;
  color: #fcf9f9;
  font-weight: 600;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .navbar-ul ul li a:hover {
  color: #f08888;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .hamburger {
  padding-bottom: 2%;
  display: none;
}

.navbar .navbar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 2%;
}

.navbar .navbar-btn a {
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  color: #fcf9f9;
}

.navbar .navbar-btn a svg {
  width: 30px;
  height: 30px;
}

.navbar .navbar-btn a:hover {
  color: #f08888;
  -webkit-transition: 300ms;
  transition: 300ms;
}

h3 {
  font-family: "Oleo Script", cursive;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

header h3 {
  color: #b21616;
}

header #carouselExampleSlidesOnly {
  margin: auto;
  width: 100%;
}

header #carouselExampleSlidesOnly .carousel-inner .carousel-item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .carousel-item {
  -webkit-transition: 3s;
  transition: 3s;
}

.section1 {
  width: 90%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  text-align: center;
}

.section1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 div img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-transform: translateX(80%) translateY(-50%);
          transform: translateX(80%) translateY(-50%);
}

.section1 div p {
  width: 230px;
  background-color: #f0eeee;
  padding: 3% 3% 3% 15%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section1 div p:hover {
  -webkit-box-shadow: #cfcfcf 1px 1px 12px;
          box-shadow: #cfcfcf 1px 1px 12px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section1 div .section1-promo2 {
  background-color: #fcf9f9;
}

.section2 {
  padding-bottom: 3%;
}

.section2 .section2-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 5%;
}

.section2 .section2-cards .section2-card a {
  text-decoration: none;
  color: #090909;
}

.section2 .section2-cards .section2-card a .section2-img {
  width: 240px;
  position: relative;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section2 .section2-cards .section2-card a .section2-img:hover {
  -webkit-box-shadow: #cfcfcf 1px 1px 12px;
          box-shadow: #cfcfcf 1px 1px 12px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section2 .section2-cards .section2-card .section2-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.section2 .section2-cards .section2-card .section2-btns .section2-btn {
  background-color: #f08888;
  padding: 0.5%;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section2 .section2-cards .section2-card .section2-btns .section2-btn:hover {
  background-color: #b21616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section2 .section2-cards .section2-card .section2-btns .section2-btn a {
  text-decoration: none;
  color: #090909;
}

.section2 .section2-cards .section2-card .section2-btns .section2-btn a svg {
  width: 20px;
}

.section2 .section2-cards .section2-card .section2-text {
  text-align: center;
}

.section2 .section2-cards .section2-card .section2-text p:first-child {
  font-weight: 600;
  margin-bottom: 0;
}

.section2 .section2-cards .section2-card .section2-text p:first-child:hover {
  color: #b21616;
}

.section2 .section2-rectangle {
  width: 101%;
  position: absolute;
  top: 120%;
  z-index: -1;
}

.section3 .section3-firstimg {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.section3 .section3-img {
  width: 100px;
}

.section3 .section3-text {
  width: 33%;
}

.section3 hr {
  margin-top: 5%;
}

h4 {
  padding-top: 7%;
  padding-bottom: 3%;
  width: 90%;
  margin: auto;
}

.section3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.section3-content p {
  text-align: justify;
  margin-top: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section3-content .section3-secondimg {
  width: 400px;
  height: 290px;
}

.section3-content .section3-colgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.section3-content .section3-imgcenter {
  display: none;
}

.section3-content .section3-best,
.section3-content .section3-new {
  width: 40%;
}

.section3-content .section3-best p:first-child,
.section3-content .section3-new p:first-child {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 0;
}

.section3-content .section3-best p,
.section3-content .section3-new p {
  text-align: center;
}

.section3-content .section3-best .section3-coltitle,
.section3-content .section3-new .section3-coltitle {
  padding-left: 5%;
}

.section3-content .section3-best .section3-row,
.section3-content .section3-new .section3-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 5%;
  gap: 30px;
}

.section3-content .section3-best .section3-row .section3-price:hover,
.section3-content .section3-new .section3-row .section3-price:hover {
  color: #b21616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4 .section4-card {
  padding-top: 1%;
  width: 20%;
}

.section4 .section4-card .section4-heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section4 .section4-card .section4-heads .section4-titles {
  font-weight: 600;
}

.section4 .section4-card .section4-heads .section4-icons {
  width: 60px;
}

.section5 {
  background-color: #f0eeee;
}

.section5 h3 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.section5 a {
  width: 85%;
  margin: auto;
  display: block;
  margin-top: 7%;
}

.section5 a .logo {
  width: 100px;
  margin-top: 6%;
  margin-bottom: 1%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.section5 a .logo:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.section5 .section5-img {
  display: none;
}

.section5 .footertop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.section5 .footertop .section5-colgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.section5 .section5-col1 {
  width: 40%;
}

.section5 .section5-col2,
.section5 .section5-col3,
.section5 .section5-col4 {
  width: 33%;
}

.section5 .section5-col2 h3,
.section5 .section5-col3 h3,
.section5 .section5-col4 h3 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 500;
}

.section5 .section5-col2 ul,
.section5 .section5-col3 ul,
.section5 .section5-col4 ul {
  list-style: none;
  padding-left: 0;
}

.section5 .section5-col2 ul li a,
.section5 .section5-col3 ul li a,
.section5 .section5-col4 ul li a {
  margin: 1%;
  text-decoration: none;
  color: #090909;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section5 .section5-col2 ul li a:hover,
.section5 .section5-col3 ul li a:hover,
.section5 .section5-col4 ul li a:hover {
  color: #b21616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section5 .section5-col2 p,
.section5 .section5-col3 p,
.section5 .section5-col4 p {
  margin: 0;
}

.section5 .section5-phone {
  width: 90%;
  margin: auto;
}

footer .footerbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer .footerbottom a {
  text-decoration: none;
  color: #090909;
  -webkit-transition: 300ms;
  transition: 300ms;
}

footer .footerbottom a:hover {
  color: #b21616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

footer .footerbottom p {
  margin: 0;
}

footer .footerbottom .footerbottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

@media (min-width: 468px) and (max-width: 1024px) {
  .navbar .navbar-ul {
    display: none;
  }
  .navbar .navbar-btn {
    display: none;
  }
  .navbar .hamburger {
    display: inline;
    padding-bottom: 3%;
  }
  .section1 {
    display: block;
  }
  .section1 div {
    gap: 20px;
    margin-left: -6%;
  }
  .section1 .section1-thirdicone p {
    width: 300px;
  }
  .section2 .section2-cards .section2-card a .section2-img {
    width: 100px;
  }
  .section2-card {
    text-align: center;
  }
  .section3 .section3-content {
    display: block;
  }
  .section3 .section3-content .section3-best,
  .section3 .section3-content .section3-new {
    width: 50%;
    text-align: center;
  }
  .section3 .section3-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 4%;
  }
  .section3 .section3-colgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section4 .section4-card {
    width: 40%;
  }
  .section5 .footertop {
    display: inline;
  }
  .section5 .footertop .section5-col1 {
    width: 90%;
    margin: auto;
  }
  .section5 .footertop .section5-colgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: auto;
  }
  .section5 .footertop .section5-colgroup .section5-col1,
  .section5 .footertop .section5-colgroup .section5-col2,
  .section5 .footertop .section5-colgroup .section5-col3 {
    width: 33%;
  }
  footer .footerbottom {
    display: block;
  }
  footer .footerbottom p {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

@media (max-width: 468px) {
  .navbar {
    margin-top: 2%;
  }
  .navbar .navbar-ul {
    display: none;
  }
  .navbar .hamburger {
    display: block;
    padding-bottom: 5%;
  }
  .navbar .navbar-btn {
    display: none;
  }
  header h3 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .section1 {
    padding-top: 20%;
    display: block;
    margin: unset;
  }
  .section1 .section1-icongroup {
    display: block;
  }
  .section1 div p {
    width: 100%;
    margin-bottom: 15%;
  }
  .section2 h3 {
    padding-top: 0;
  }
  .section2 .section2-cards {
    display: block;
  }
  .section2 .section2-cards .section2-card {
    text-align: center;
  }
  .section2 .section2-cards .section2-card a .section2-img {
    width: 60%;
  }
  .section2 .section2-cards .section2-card .section2-text {
    padding-bottom: 12%;
  }
  .section3 .section3-firstimg {
    height: 220px;
  }
  .section3 .section3-content {
    display: block;
  }
  .section3 .section3-content .section3-text {
    width: 100%;
  }
  .section3 .section3-content .section3-text .section3-secondimg {
    width: 100%;
    margin-bottom: 2%;
  }
  .section3 .section3-content .section3-imgcenter {
    display: block;
    margin-left: -8%;
    width: 120%;
  }
  .section3 .section3-content .section3-best,
  .section3 .section3-content .section3-new {
    width: 100%;
    padding-bottom: 20%;
  }
  .section3 .section3-content .section3-best .section3-col .section3-row,
  .section3 .section3-content .section3-new .section3-col .section3-row {
    padding: 5%;
  }
  .section3 .section3-colgroup {
    display: inline;
  }
  .section3 .section3-coltitle {
    padding-top: 10%;
  }
  .section4 {
    display: block;
  }
  .section4 .section4-card {
    width: 80%;
    margin: auto;
  }
  .section5 a {
    text-align: center;
  }
  .section5 a .logo {
    padding-top: 8%;
  }
  .section5 .footertop {
    display: block;
  }
  .section5 .footertop .section5-colgroup {
    display: block;
    text-align: center;
  }
  .section5 .footertop .section5-col1 {
    width: 100%;
  }
  .section5 .footertop .section5-col1 h2 {
    text-align: center;
  }
  .section5 .footertop .section5-colgroup {
    width: 100%;
  }
  .section5 .footertop .section5-colgroup .section5-col2,
  .section5 .footertop .section5-colgroup .section5-col3,
  .section5 .footertop .section5-colgroup .section5-col4 {
    width: 100%;
  }
  .section5 .footertop .section5-colgroup .section5-col2 h3,
  .section5 .footertop .section5-colgroup .section5-col3 h3,
  .section5 .footertop .section5-colgroup .section5-col4 h3 {
    text-align: center;
  }
  .section5 .footertop .section5-colgroup .section5-col2 ul li a,
  .section5 .footertop .section5-colgroup .section5-col3 ul li a,
  .section5 .footertop .section5-colgroup .section5-col4 ul li a {
    width: 100%;
  }
  .section5 .section5-phone {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  footer .footerbottom {
    display: block;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  footer .footerbottom .footerbottom-links {
    display: block;
  }
  footer .footerbottom .footerbottom-links a {
    display: block;
  }
}

#basket {
  position: fixed;
  bottom: 0;
  background-color: #b58c69;
  width: 20%;
  height: 80%;
  color: white;
  font-weight: bold;
  padding: 2%;
}

#basket #backethead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.5em;
}

#basket #backethead .cross {
  width: 15px;
}

#basket #backethead #closebasket {
  cursor: pointer;
}

#basket .basket-row a {
  text-decoration: none;
  color: #fcf9f9;
}

#basket .basket-row a .cross {
  width: 15px;
}

#basket .basket-row .basketrow-right {
  float: right;
}

#basket .priceunit {
  font-size: 0.8em;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */